<div class="container-fluid">
  <h2 class="hero-heading">Registration Form</h2>
  
  <form [formGroup]="registrationForm" class="form-body" (ngSubmit)="onSubmit()">
    {{registrationForm.value | json}}
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="userName" [class.is-invalid]="userName.invalid && userName.touched" >
      <div *ngIf="userName.invalid && userName.touched">
        <small *ngIf="userName.errors!['required']" class="text-danger">Username is required</small>
        <small *ngIf="userName.errors!['forbiddenName']" class="text-danger">{{userName.errors!['forbiddenName'].value}} Username not allowed</small>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm-2 mb-2 " (click)="addAlternateEmail()">Add Email</button>
      <input type="text" formControlName="email" class="form-control" [class.is-invalid]="email.invalid && email.touched">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" formControlName="subscribe" class="form-check-input">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" [class.is-invalid]="password.invalid && password.touched">
      <div *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors!['required']" class="text-danger">password is required</small>
        <small *ngIf="password.errors!['minlength']" class="text-danger">password must be atleat 3 characters</small>
      </div> 
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" [class.is-invalid]="registrationForm.errors?.['passwordValidationError']">
      <small class="text-danger" *ngIf="registrationForm.errors?.['passwordValidationError']">Passwords do not match</small>
      <!-- <div *ngIf="heroForm.errors?.['identityRevealed'] && (heroForm.touched || heroForm.dirty)" class="cross-validation-error-message alert alert-danger">
        Name cannot match alter ego.
      </div> -->
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" formControlName="state">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" formControlName="pinCode">
      </div>
    </div>

    <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-outline-primary">Submit Form</button>

    <button (click)="loadAPI()" class="btn btn-outline-secondary ml-2" >Load API Data</button>
    
  </form>
</div>